/* 
    Document   : menu.faleconosco
    Created on : 17/05/2013, 17:49:40
    Author     : roberto.soares
    Description:
        Purpose of the stylesheet follows.
*/
/*
#menu-topo {
    margin-left: -25px !important; margin: 20px; margin-top: -18px;
}
 #menu-topo ul li { list-style: none !important; }
        #menu-topo ul li { display:inline !important;}
        #menu-topo ul li a {
            font: 13px verdana, arial !important;
            color: blue !important;
            background: #ccc !important;
            text-decoration: none !important;
            float: left !important;
            padding: 5px 10px !important;
            margin-left: 2px !important;
        }
        #menu-topo ul li a:hover {
            color: #404040  !important;
            background: #F0F0F0 !important;
        }
*/
  #logout-s{ 
            float:left !important; 
            position: absolute; 
            margin-left: 895px;
            margin-top: -50px;
            color: #FFFFFF;
            font-size: 11px;
           
       }